@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  
}


.app-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h2 {
  color: black;
  margin-bottom: 25px;
}

.success-message {
  color: green;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Project List Styles */
.project-list ul {
  list-style: none;
  padding: 0;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9fbff;
  margin-bottom: 13px;
  padding: 17px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.project-name {
  font-weight: bold;
  color: #007bff;
}

.project-status {
  color: black;
  margin-left: 10px;
}

/* Action Button Styles */
.project-actions button {
  margin-left: 10px;
}

.action-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Add Project Button */
.add-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #218838;
}

/* Form Styles */
.project-form,
.project-details {
  background-color: #e9fbff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  color: black;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #e9fbff; 
  color: black; 
  font-family: Arial, sans-serif;
}

/* Dropdown Styling */
select {
  height: 40px;
  
}

/* Form Action Buttons */
.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-actions button {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-actions button[type="submit"] {
  background-color: #28a745;
  color: white;
  border: none;
}

.form-actions button[type="submit"]:hover {
  background-color: #218838;
}

.form-actions button[type="button"] {
  background-color: #6c757d;
  color: white;
  border: none;
}

.form-actions button[type="button"]:hover {
  background-color: #5a6268;
}

/* Specific Buttons */
.edit-button {
  background-color: #ffc107;
  color: white;
  border: none;
}

.edit-button:hover {
  background-color: #e0a800;
}

.back-button {
  background-color: #28a745;
  color: white;
  border: none;
}

.back-button:hover {
  background-color: #218838;
}
